{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
<h1 class="name t-center">Bienvenue sur BAMBINO_LIBRARY</h1>
<H2>Voici tous les livres disponible aupres de notre bibliotheque !!</H2>

</div>
{% endblock %}
