{% extends 'base.html.twig' %}

{% block title %}Edit Comment
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="name">Edit Comment</h1>
		{{ include('comment/_form.html.twig') }}

		<a class="btn btn-warning" href="{{ path('app_comment_index') }}">Retour au commentaires</a>

		{# {{ include('comment/_delete_form.html.twig') }} #}
	</div>
{% endblock %}
