{% extends 'base.html.twig' %}

{% block title %}New Comment
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="name">Ecrire un commentaire</h1>
		{{ include('comment/_form.html.twig') }}
	</div>
{% endblock %}
